# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints (if using notebooks)
.ipynb_checkpoints/

# Ignore models directory
models/

# Ignore XTTS model file
xtts_model/model.pth
